h1{
    font-size: 50px;
    font-weight:bolder;
    color:white;
    margin-top: 150px;
 }
 .fullscreen-background {
     background-image: url('https://res.cloudinary.com/dmsthnbd3/image/upload/f_auto,q_auto/dhdmxuzatqju5q2xuwas'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;

}
