h1{
    font-size: 50px;
    font-weight:bolder;
    color:white;
    margin-top: 150px;
}
.fullscreen-background {
    background-image: url('https://res.cloudinary.com/dmsthnbd3/image/upload/f_auto,q_auto/kwjhmomzlpwqazqn4k0t'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
