<div class="home-container">
<div class="card">
<br>
<h1>Book Space</h1>
      <label>
            Name
            <input type="text" name="name" required>
          </label>
          <div class="two-cols">
            <label>
              Email address
              <input type="email" name="email" required>
            </label>
            <label>
              Phone number
              <input type="tel" name="phone">
            </label>
            <label>
                  Office name
                  <input type="name" name="phone">
                </label>
            <h4>Select date and time: </h4>
      <input type="datetime-local" />
      <button class="custom-button">Submit</button>    
</div>
</div>