.card{
    width: 600px;
    height: 600px;
    background-color:#7ADFBB;
    box-shadow: 1px 1px 20px #7ADFBB;
    margin: auto;
    margin-left: 300px;
    border-radius: 25px;
    margin-top: 10%;
   //z-index: 100;
    display: flex;
    justify-content: center;
}
