
/* You can add global styles to this file, and also import other style files */
:root {
    --b1 : #B11111;
    --b2 :#0A0908 ;
    --dimc1 :#87CEEB;
}
* {
    font-family: (Ubuntu);
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
